@import url("https://fonts.googleapis.com/css?family=Bangers");

a, a:visited {
  text-decoration: none;
  color: black;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
body {
    height: 100vh;
    background: rgb(255,255,0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', serif;
}

.container {
    display: grid;
	grid-template-columns: repeat(5, 250px);
	grid-template-rows: repeat(5, 250px);
    /* grid-gap: 1.5rem; */
    top: 10px;
    position: absolute;
}

/* */
.item {
    background: black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(-45deg);
    border: 3px solid black;
    box-shadow: -3px 4px 8px rgba(0,0,0,.5);
    transition: all .3s;
}

.item:hover {
    transform: scale(1.5);
    position: relative;
    z-index: 10;
}

.item:hover::before {
    opacity: 1;
}

.item:hover .photo {
    transform: translate(-50%, -50%) rotate(45deg);
}

.item::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    /* background: rgba(0,0,0,.6); */
    opacity: 0;
    transition: all .4s;    
} 

.item { background-color: #FECE00; 
	background: url("https://raw.githubusercontent.com/profoundhub/deardanielim-website-2019/master/images/twitch-deardanielim.jpg");
	background-size: cover;
    background-position: center;
	width: 100px;
	height: 100px;
	padding: 50px;
	margin: 50px;
}
    
.photo {
    position: absolute;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f7ff00,#ffffff);
    top: 50%;
    left: 50%;
    transform: translate(-60%, -250px) rotate(45deg);
    border-radius: 10px;
    transition: all .5s;
}

.photo span {
    transform: rotate(-45deg);
    font-size: 22px;
}

/*
*/
.deardanielim {
    font-size: 150px;
    margin: 80px;
}

#daniel {
    position: absolute;
    font-size: 18px;
    bottom: 5px;
    left: 10px;
}

#daniel:hover > a {
    color: royalblue;
    transform: scale(1.5);
}

a {
    display: inline-block;
    transition: all .3s;
    transform-origin: left;
}

@media only screen and (max-width: 1100px) {   
    .container {
        transform: scale(.7);
    }    
    .deardanielim {
        margin: 0;
        font-size: 50px;
    }
}